<!DOCTYPE html>

<html>

	<head>

		<title>Vacation Planner</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="http://ryanwaite28.github.io/my-cdn/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="http://ryanwaite28.github.io/my-cdn/css/emerald.css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 785px)" href="mobile-style.css">
		<link rel="icon" type="image/jpg" href="img/emoji-3.jpg" size="20x20"/>
		<script src="http://ryanwaite28.github.io/my-cdn/js/angular.js"></script>
		<script src="http://ryanwaite28.github.io/my-cdn/js/jquery.js"></script>
		<script src="http://ryanwaite28.github.io/my-cdn/js/emerald.js"></script>
		<script src="script.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSHPWjouiZzdAI_EhWkuuLsFMEGTgyYWE&libraries=places&callback=initMap" async defer></script>
	</head>

	<body ng-app="myApp" ng-controller="masterCtrl">

		<div id="s-container">
			<img class="middlr transition" id="s-img" src="{{currentIcon}}"/>
		</div>

		<div class="top-bar">
			<div class="banner-pane">
				<h1 class="transition banner-text"><strong>Vacation<br>Planner</strong></h1>
			</div>

			<div class="navigate">
				<h1 class="nav-text"><strong>Plan Your Trip!</strong></h1>

				<!--<input class="transition" id="vaca-place" type="text" placeholder="Search a Vacation Place!"/><br>-->
				<input class="transition" id="your-place" type="text" placeholder="Input Your Location! City, State"/><br>
				<input class="transition" id="submit-btn" type="button" value="Submit" ng-click="loadYourMarker()"/><br>
				<p class="text-center" id="msg1"><strong>{{msgOne}}</strong></p>
				<select class="middlr" id="crt-pls">
					<option>-Select a Vacation Place-</option>
					<option ng-repeat="vaca in currentVacaPlaces" id="{{key}}">
						<p>{{vaca.place}}</p>
					</option>
				</select>
				<p class="text-center"><strong>{{msgTwo}}</strong></p>
				<br>

				<div id="tdl" style="">
					<div class="planner-text transition l1">
						<h3 id="pnr-text" class="text-center"><strong>Planner</strong></h3>
					</div>
					<div class="information-text transition l2">
						<h3 id="info-text" class="text-center"><strong>Information</strong></h3>
					</div>
				</div>
			</div>
		</div>

		<div id="grand-container">

			<div id="planner-div" class="container-fluid">

				<div class="row">

					<div class="col-md-5">

						<h1 class="text-center"><strong>Calculate<br>Cost</strong></h1>

						<hr>

						<div class="col-md-6">
							<p class="text-center"><strong>Your Money:</strong><br>{{yourMoney | currency}}</p>
							<input id="remains-ipt" class="" type="" placeholder="Your Total Available">
							<br><hr>

							<p class="text-center"><strong>Round-Trip Plane Ticket:</strong><br>{{currentPlane | currency}} per person.</p>
							<input id="apt-ipt" class="" type="" placeholder="Number of Tickets">
							<br><br>

							<p class="text-center"><strong>Hotel Cost:</strong><br>{{currentHotel | currency}} per day.</p>
							<input id="ht-ipt" class="" type="" placeholder="Number of Days ">
							<br><br>

							<p class="text-center"><strong>Rental Car Cost:</strong><br>{{currentCar | currency}} per day.</p>
							<input id="rc-ipt" class="" type="" placeholder="Number of Days">
							<br><br>

							<p class="text-center"><strong>Spending Money:</strong><br>{{currentSpending | currency}}</p>
							<input id="spending-ipt" class="" type="" placeholder="Your Spending Money">
							<br><br>
						</div>

						<div style="text-align: center;" class="col-md-6">

							<p id="msg1">{{msg1}}</p><br>
							<p id="msg2">{{msg2}}</p><br>
							<p id="msg3">{{msg3}}</p><br>
							<p id="msg4">{{msg4}}</p><br>
							<p id="msg5">{{msg5}}</p><br>
							<p id="msg6">{{msg6}} {{remaining | currency}}</p>

						</div>

						<div class="col-md-12">
							<input id="ipt-1" class="middlr transition" type="button" value="Calculate Costs" ng-click="calculateCosts()"/>
						</div>

					</div>

					<div class="col-md-7">

						<div>

							<h1 class="text-center"><strong>Map</strong></h1>
							<div id="map-div">

							</div>
							<hr>

							<h1 class="text-center"><strong>Image</strong></h1>
							<img class="middlr" id="vaca-img" alt="Vacation Image" src="{{currentImg}}"/>
							<br>

						</div>

					</div>

				</div>

			</div>

			<div id="information-div" class="container-fluid">

				<div class="row">

					<div class="col-md-12">

						<div class="middlr" style="width: 75%">
							<br>
							<img class="middlr" id="vaca-img" alt="Vacation Image" src="{{currentImg}}"/>
							<br>
							<input type="button" id="ipt-1" class="middlr transition" value="Load Information" ng-click="loadInfo()"/>
							<hr>
							<h1 class="text-center"><strong>{{currentVaca.place}}</strong></h1>
							<br><br>
							<ul id="news-items" class="article-list">
								<li class="article" ng-repeat="article in articles">
									<h2>{{article.headLineKicker}}</h2>
									<a href={{article.webLink}}><h3>{{article.headLineMain}}</h3></a>
									<p>{{article.leadParagraph}}</p>
									<br>
									<p>{{article.byLine}}</p>
									<p>{{article.pubDate}}</p>
									<hr>
								</li>
							</ul>
						</div>

					</div>

				</div>

			</div>

		</div>

	</body>

</html>
