/* New Style */

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.transition {
  -webkit-transition: transition 0.3s;
  -moz-transition: transition 0.3s;
  -o-transition: transition 0.3s;
  -ms-transition: transition 0.3s;
  transition: 0.3s;
}

hr {
  border-color: grey;
}

/* --- */

#s-container {
  position: absolute;
  top: 20px;
  display: block;
  margin: auto;
  width: 100%;
}

#s-img {
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.header-div {
  height: 100vh;
  width: 100%;
}

.banner-pane {
  background-image: url("http://www.citypictures.org/data/media/261/Sunset_Wallpaper_81.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: calc(95vh - 60px);
}

.banner-text {
  text-align: center;
  margin: 0px;
  padding-top: 195px;
  font-weight: bold;
  font-size: 80px;
  text-shadow: 3px 5px 9px grey;
  color: black;
  opacity: 0.7;
}
.banner-text:hover {
  opacity: 1.0;
}

.navigate {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navigate input {
  display: block;
  margin: auto;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
}

#vaca-place, #your-place {
  width: 75%;
  text-align: center;
}
#vaca-place:hover, #your-place:hover, #submit-btn:hover, #ipt-1:hover {
  padding: 15px;
}

.nav-text {
  text-align: center;
  padding: 50px;
  margin: 0px;
}

#tdl {
  width: 100%;
  z-index: 1000;
}

.planner-text, .information-text {
  height: 60px;
}
.planner-text {
  width: 50%;
  color: black;
  background-image: linear-gradient(to bottom, #ff9933, #e67300);
}
.information-text {
  width: 50%;
  color: grey;
  background-image: linear-gradient(to bottom, #000, #1a1a1a);
}

.planner-text:hover {
  background-image: linear-gradient(to bottom, #ffa64d, #ff8000);
}
.information-text:hover {
  background-image: linear-gradient(to bottom, #0d0d0d, #262626);
}

/* --- */

#grand-container {

}

#grand-container::-webkit-scrollbar {

}

#map-div {
  height: 65vh;
  border: 3px solid black;
}

#vaca-img {
  display: block;
  margin: auto;
  width: 100%;
  padding: 3px;
  background-color: black;
}

.col-sm-6 input {
  display: block;
  margin: auto;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
}

#ipt-1 {
  display: block;
  margin: auto;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
}
